body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.field {
    position: relative;
    margin: 15px;
    width: 600px;
    height: 400px;
    background-image: url('img/metal_floor.jpg');
    background-size: 8.33333333%;
}

.tile {
    box-sizing: border-box;
    position: absolute;
}

.tile.wall:before {
	margin-right: -5%;
	content: ' ';
	position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	bottom: 0px;
    background-image: url('img/wall.png');
    background-size: 10% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.tile.beam {
    background-image: url('img/laser-red.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 62%;
}
.tile.pit {
    background-image: url('img/pit.png');
    background-size: 100%;
}
.tile.gearLeft {
    background-image: url('img/gear-left.png');
    background-size: 100%;
}
.tile.gearRight {
    background-image: url('img/gear-right.png');
    background-size: 100%;
}
.tile.conveyor {
    background-image: url('img/conveyor.png');
    background-size: 100%;
    background-position-x: 0px;
}
.tile.conveyorLeft, 
.tile.conveyorRight {
	overflow: hidden;
}
.tile.conveyorLeft > .bg,
.tile.conveyorRight > .bg {
	position: absolute;
	width: 200%;
	height: 200%;
	background-size: 100%;
}
.tile.conveyorLeft > .bg {
	bottom: 0;
	left: 0;
	background-image: url('img/conveyor-turn-left.png');
}
.tile.conveyorRight > .bg {
	top: 0;
	left: 0;
	background-image: url('img/conveyor-turn-right.png');
}
.tile.crate {
    background-image: url('img/crate.png');
    background-size: 100%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 13px 13px 30px 0px black
}
.tile.start:before {
    position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	bottom: 0px;
    text-align: center;
    font-size: 50px;
	content: '\27A7';
}
.tile.repair {
    background-image: url('img/wrench.png');
    background-size: 100%;
}

.tile.checkpoint {
    background-image: url('img/wrench.png');
    background-size: 100%;
}

.tile.checkpoint[data-checkpoint-index] {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.tile.checkpoint[data-checkpoint-index]:before {
    position: absolute;
    left: 4px;
    right: 0px;
    top: -2px;
    bottom: 0px;
    background-image: url('img/checkpoint.png');
    background-size: 100%; 
    content: ' ';
	transform: rotate(-18deg)
}
.tile.checkpoint[data-checkpoint-index]:after {
    position: absolute;
    left: 12px;
	top: 5.5px;
    text-align: center;
	content: attr(data-checkpoint-index);
	color: maroon;
	font-family: monospace;
    font-size: 17px;
	font-weight: bold;
	transform: rotate(-25deg)
}

.robot0 {
	color: green;
}
.robot1 {
	color: purple;
}
.robot2 {
	color: teal;
}
.robot3 {
	color: darkgoldenrod;
}


.tile.robot {
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center center;
}
.tile#robot0 {
    background-image: url('img/robot_1.png');
}
.tile#robot1 {
    background-image: url('img/robot_2.png');
}
.tile#robot2 {
    background-image: url('img/robot_3.png');
}
.tile#robot3 {
    background-image: url('img/robot_4.png');
}











.robotCommands {
    width: 250px;
    padding: 15px;
    display: inline-block;
}

.robotCommands .command {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
}

.robotCommands .command.available {
    background-color: #223;
    cursor: pointer;
}

.robotCommands .command.selected {
    background-color: silver;
    cursor: pointer;
}

.robotCommands .command:before {
    position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	bottom: 0px;
    text-align: center;
    font-size: 40px;
	content: ' ';
}

.robotCommands .command.forward1:before { content: '\2191'; }
.robotCommands .command.forward2:before { content: '\21C8'; }
.robotCommands .command.forward3:before { content: '\21F6'; transform: translate(4px, -6px) rotate(-90deg)}
.robotCommands .command.back1:before { content: '\2193'; }
.robotCommands .command.left:before { content: '\21B0'; }
.robotCommands .command.right:before { content: '\21B1'; }
/*
.robotCommands .command.uturn:before { content: '\21B7'; }
*/
.robotCommands .command.uturn:before {
	background-color: Black;
	/*-webkit-mask: url('img/uturn.svg') 50% 20%/70% no-repeat;*/
	-webkit-mask: url('img/uturn.svg');
	-webkit-mask-size: 70%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 50% 30%;
	mask: url('img/uturn.svg');
	mask-size: 70%;
	mask-repeat: no-repeat;
	mask-position: 50% 30%;
}
.robotCommands.robot0 .command.uturn:before {
	background-color: green;
}
.robotCommands.robot1 .command.uturn:before {
	background-color: purple;
}
.robotCommands.robot2 .command.uturn:before {
	background-color: teal;
}
.robotCommands.robot3 .command.uturn:before {
	background-color: darkgoldenrod;
}

.robotCommands .command:after {
    content: attr(data-prio); 
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 1px;
    text-align: center;
}

.execute {
    color: yellow;
    cursor: pointer;
    text-align: center;