body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.field {
    position: relative;
    margin: 15px;
    width: 550px;
    height: 400px;
    background-image: url('img/metal_floor.jpg');
    background-size: 12.5%;
}

.tile {
    box-sizing: border-box;
    position: absolute;
}

.tile.pit {
    background-image: url('img/pit.png');
    background-size: 100%;
}
.tile.wall {
    background-image: url('img/crate.png');
    background-size: 100%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 13px 13px 30px 0px black
}
.tile.robot {
    background-size: 100%;
}
.tile#robot1 {
    background-image: url('img/robot_1.png');
}
.tile#robot2 {
    background-image: url('img/robot_2.png');
}
.tile#robot3 {
    background-image: url('img/robot_3.png');
}
.tile#robot4 {
    background-image: url('img/robot_4.png');
}

.robotCommands {
    width: 250px;
    padding: 15px;
    display: inline-block;
}

.robotCommands .command {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
}

.robotCommands .command.available {
    background-color: grey;
    cursor: pointer;
}

.robotCommands .command.selected {
    background-color: Silver;
    color: white;
    cursor: pointer;
    color: Green;
}

.robotCommands .command:before {
    position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	bottom: 0px;
    text-align: center;
    font-size: 40px;
	content: ' ';
}

.robotCommands .command.forward1:before { content: '\2191'; }
.robotCommands .command.forward2:before { content: '\21C8'; }
.robotCommands .command.forward3:before { content: '\21F6'; transform: translate(-2px, 0) rotate(-90deg)}
.robotCommands .command.back1:before { content: '\2193'; }
.robotCommands .command.left:before { content: '\21B0'; }
.robotCommands .command.right:before { content: '\21B1'; }
/*
.robotCommands .command.uturn:before { content: '\21B7'; }
*/
.robotCommands .command.uturn:before {
	background-color: Black;
	/*-webkit-mask: url('img/uturn.svg') 50% 20%/70% no-repeat;*/
	-webkit-mask: url('img/uturn.svg');
	-webkit-mask-size: 70%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 50% 30%;
	mask: url('img/uturn.svg');
	mask-size: 70%;
	mask-repeat: no-repeat;
	mask-position: 50% 30%;
}
.robotCommands .command.selected.uturn:before {
	background-color: Green;
}

.robotCommands .command:after {
    content: attr(data-prio); 
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 1px;
    text-align: center;
}

.execute {
    color: yellow;
    cursor: pointer;
    text-align: center;
}